[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.24.22"
mlflow = "==1.27.0"
scikit-learn = "==1.0.2"
psutil = "==5.9.1"

[dev-packages]
jupyterlab = "==3.4.3"
pyarrow = "==8.0.0"
pytest = "==7.1.2"
deepdiff = "==5.8.1"
pylint = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.8"
